<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- slick -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">


    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <title>Clothify | Landing Page</title>
</head>

<body>
    <nav class="navbar m-container navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="img/logo-1.png" alt="" height="40"
                class="d-inline-block align-top"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#popular-product">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#contact-us">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="app">
        <div class="m-container bg-black-p jumbotron-home position-relative">
            <img src="img/Group 5.png" alt="" class="position-absolute d-none d-md-block">
            <div class="content row">
                <div class="col-md-6 col-10 text-light pt-5 mb-5">
                    <h2 class="font-weight-bold col-10 p-0">Belanja Pakaian berkualitas dan murah di Clothify</h2>
                    <div class="bg-warning pt-2 rounded mb-4" style="width: 20%;"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatem ea cum quas,
                        consequatur quidem labore. Doloribus nemo illo natus necessitatibus dolore, iusto odit
                        voluptatibus ipsa inventore recusandae odio mollitia?</p>
                    <button class="btn btn-warning d-flex py-3 px-5 text-center"><span class="iconify mr-3"
                            data-icon="akar-icons:shopping-bag" style="font-size: 25px;"></span>Chechk Our
                        Product</button>
                </div>
                <div class="col-md-5 col-10  mx-auto p-0 d-block  mb-5">
                    <img src="img/img.png" class="w-100 " alt="">
                </div>
            </div>
        </div>
        <div class="m-container bg-black-s py-5 position-relative" id="about-us">
            <div class="row text-light">
                <div class="quote col-xl-5 p-0 position-relative" style="overflow: hidden;">
                    <div class=" position-absolute p-2 px-4 box"></div>
                    <div class="photo" style="z-index: 2;">
                        <img src="img/undraw_educator_oxfm.svg" width="80" alt="">
                    </div>
                    <div class="text-light w-100">
                        <h3 class="text-center mb-0">Lorem ipsum dolor</h3>
                        <p class="text-center">Founder of Clothify</p>
                    </div>
                    <img src="img/DECORATION.png" class=" position-absolute left-0 top-0"
                        style="top: -100px;z-index: 1;left: -100px;" alt="">
                </div>
                <div class="col-xl-6 ml-xl-auto pl-xl-0">
                    <h3 class="title-section">About Us</h3>
                    <p class="mt-4">Clothify adalah platform penjualan Pakaian berkualitas dan tentunya dengan harga
                        yang murah. Kami menyediakan berbagagai macam pakaian mulai dari kemeja, celana hingga sepatu
                        dari berbagai merek terkemuka. Selain Harga yang murah kami tentunya mengadakan diskon setiap
                        awal bulan dan diskon pembelian pertama.</p>
                </div>
            </div>
        </div>
        <div class="m-container bg-black-p py-5" id="popular-product">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="title-section text-light">Popular Product</h3>
                    <div class="w-100 d-flex">
                        <img src="img/Group 7.png" class=" mx-auto mt-5 w-100"  alt="">
                    </div>
                </div>
                <div class="col-xl-8 pt-5">
                    <div class="100 pt-xl-5 pt-2 mt-xl-5 mt-0 position-relative" id="popular">
                        <div class="box-card"  v-for="(item, index) of popular">
                            <div class="card-popular position-relative">
                                <h4 class="mb-0">{{item.nama}}</h4>
                                <p>Merk lorem</p>
                                <div class="d-flex col-xl-8 p-0 position-relative z-index-2">
                                    <div class="">
                                        <p class="mb-0 font-weight-bold text-center title mr-2">{{item.sisa}}</p>
                                        <small class="text">Tersisa</small>
                                    </div>
                                    <div class=" mx-xl-auto">
                                        <p class="mb-0 text-center font-weight-bold mr-2">{{item.terjual}}</p>
                                        <small class="text">Terjual</small>
                                    </div>
                                    <div>
                                        <p class="mb-0 font-weight-bold text-center title mr-2">{{item.harga}}K</p>
                                        <small class="text">Harga</small>
                                    </div>
                                </div>
                                <div class="overlay"></div>
                                <img :src="'img/product/popular/'+ item.gambar" class="position-absolute h-100">
                                <button class="btn bg-black-p rounded-circle text-20 text-light position-absolute"
                                    style="right: -30px; top: 33%;">
                                    <span class="iconify" data-icon="clarity:shopping-cart-line"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-container bg-black-s py-5 ">
            <div class="w-100 text-center text-light  justify-content-center">
                <h3>Product</h3>
                <div class="bg-warning p-1 mx-auto" style="width: 150px;"></div>
            </div>
            <div class="d-flex mt-5">
               <div class="col-2 p-0">
                <button class="btn w-100 d-flex btn-warning text-left dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>{{productActive}}</span>
                    <span class="iconify ml-auto text-20" data-icon="bi:caret-down-fill"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div  class="dropdown-item" @click="changeProduct('Baju')" >Baju</div >
                  <div  class="dropdown-item" @click="changeProduct('Celana')" >Celana</div >
                  <div  class="dropdown-item" @click="changeProduct('Sepatu')" >Sepatu</div >
                </div>
               </div>
               <input type="text" @keyup.enter="search()" class="form-control col-md-3 col-8 ml-3" v-model="keyword" placeholder="Cari Nama Produk">
            </div>
            <template v-if="message != ''">
                <h5 class="text-light text-center mt-5">{{message}}</h5>
            </template>
            <div class="row mt-5">
                <div class="col-md-3 col-6 product-list" v-for="(item, index) of product" :key="index">
                    <div class="card-product">
                        <img :src="'img/product/'+ productActive +'/'+item.gambar" class="w-100 img-product" >
                        <div class="product-detail position-relative">
                            <div
                                class="bg-dark text-warning bookmark px-2 py-1 position-absolute text-16 font-weight-bold rounded-circle ">
                                <span class="iconify" data-icon="bi:bookmark-fill"></span>
                            </div>
                            <h5 class="product-name font-weight-bold">{{item.nama}}</h5>
                            <div class="product-price">
                                Rp. {{item.harga}},00 
                            </div>
                            <div class="d-flex product-info">
                                <div>
                                    <span class="mb-0 font-weight-bold text-center title mr-2">{{item.sisa}}</span>
                                    <span class="text">Tersisa</span>
                                </div>
                                <div class="ml-xl-4 ml-2">
                                    <span class="mb-0 font-weight-bold text-center title mr-2">{{item.terjual}}</span>
                                    <span class="text">Terjual</span>
                                </div>
                            </div>
                            <button class="btn btn-dark text-warning text-20 py-0 w-100"  type="button" data-toggle="modal" :data-target="'#modalProduct-'+ item.id">
                                <span class="iconify" data-icon="clarity:shopping-cart-line"></span>
                            </button>
                        </div>
                    </div>
                    <div class="modal fade" :id="'modalProduct-'+ item.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{item.nama}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-4 p-0">
                                                <img :src="'img/product/'+ productActive + '/'+ item.gambar"
                                                    alt="">
                                            </div>
                                            <div class="col-md-7 ml-auto p-0">
                                                <form action="">
                                                    <div class="form-group">
                                                        <label for="jumlah">Jumlah Barang</label>
                                                        <input type="number" class="form-control"
                                                            aria-describedby="jumlah" @change="totalQty" :data-sisa="item.sisa">
                                                        <small class="form-text text-muted " >Maksimal {{item.sisa}} buah</small>
                                                    </div>
                                                    Subtotal Produk :
                                                    <h4 class="text-warning">
                                                        Rp.{{qty * item.harga}},00
                                                    </h4> 
                                                    <input type="hidden" >
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-container bg-black-p py-xl-5 py-4" id="contact-us">
            <div class="row mt-xl-5 mt-0 pt-xl-3 pt-0 pb-5">
                <div class="col-md-5 mb-5 justify-content-center row position-relative p-0">
                   <div class="col-10 d-flex p-0 img-contact">
                    <img src="img/coffee.jpg" class="w-100" alt="">
                    <div class="position-absolute text-center w-100 d-flex justify-content-center align-items-center h-100 text-warning">
                        <span class="iconify" data-icon="ic:outline-contact-support"></span>
                    </div>
                   </div>
                </div>
                <div class="col-md-6 ml-xl-auto text-light ml-0">
                    <h3 class="mb-1">Contact Us</h3>
                    <div class="p-1 bg-warning col-3 mb-5 rounded"></div>
                    <list-contact></list-contact>

                </div>
            </div>
        </div>
        <div class="m-container bg-black-p position-relative pt-5">
            <div class="bg-white position-absolute py-1 WM  pl-3 pr-5">
                <img class="mb-1" src="img/image 17.png" alt="">
                <div class="d-inline-block ml-3 pr-5">
                    <p class="mb-0" style="font-size:14px">@2020 Developed by</p>
                    <p class="mb-0" style="font-size:18px">SideScript Developer</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/Component.js"></script>
    <script src="js/script.js"></script>
    <script>
        
        $("#popular").slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 2,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 767,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                }
            }],
            prevArrow: `<button type="button" class="btn btn-warning position-absolute top-0 slick-prev btn-arrows " id="slick-prev">
                        <span class="iconify" data-icon="bi:caret-left"></span>
                    </button>`,
            nextArrow:`<button type="button" class="btn btn-warning position-absolute top-0 slick-next btn-arrows " id="slick-prev">
                <span class="iconify" data-icon="bi:caret-right"></span>
            </button>`
        })  
        
    </script>
</body>

</html>